extends layout

block content
  div.container
    div.card
      div
        p Nombre: !{name}
        p Edad: !{age}
        p Comidad favorita: !{favFood}
      div
        img(url='../public/images/star.png' alt='ups')