extends layout

block content
  script.
    const select = (id) => {
      console.log(id)
      if(id !== ''){
        axios.get(`http://localhost:3000/filter/${id}`)
      }
    }
    
  h1 Your favorites Pugs
  div.container
    each pug in fav
      div.card
        p#star &star;
          p Name: 
            span !{pug.name}
          p Age: 
          span !{pug.age < 1 ? '< 1 año': pug.age + ' años'}
          p Favorite food: 
            span !{pug.favFood}